<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="sqliteconn" connectionString="Data Source=|DataDirectory|\mynotes.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings >
    <add key="FILE_ROOT" value="MyNotes"/>
    <add key="FILE_DELNOTE" value="回收站"/>
    <add key="DocumentClass_FILE" value="uploadFile\DocumentClass\"/>
    <!--<add key="DocumentType" value="*.xls;*.xlsx;*.doc;*.docx;*.ppt;*.pptx;*.vsd;*.vsdx;*.pdf;"/>-->
    <add key="DocumentType" value="(*.xls;*.xlsx;*.doc;*.docx;*.ppt;*.pptx;*.vsd;*.vsdx;*.pdf)|*.xls;*.xlsx;*.doc;*.docx;*.ppt;*.pptx;*.vsd;*.vsdx;*.pdf|All files(*.*)|*.*"/>
  </appSettings>
</configuration>